.fluid-tree-store-panel {
    pointer-events: auto;
}

.fluid-tree-store-panel[hidden] {
    pointer-events: none;
}

.fluid-tree-store-list {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}